{% load static %}
<script src="{% static 'js/chart.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
<canvas id="chart"></canvas>
<script nonce="{{ CSP_NONCE }}">
  const data = {
    labels: [{% for entry in index %}'{{ entry.year }}', {% endfor %}],
    datasets: [{
      label: 'nombre de mots par année',
      backgroundColor: 'rgb(147, 197, 253)',
      borderColor: 'rgb(147, 197, 253)',
      data: [{% for entry in index %}'{{ entry.count }}', {% endfor %}],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };

  const chart = new Chart(
    document.getElementById('chart'),
    config
  );
</script>
