<ul data-hx-target="#main"
    data-hx-push-url="true"
    data-hx-boost="true"
    class="words columns-2 mb-4 md:columns-3 lg:columns-5">
  {% for word in words %}
    <li>
      <a href="{{ word.get_absolute_url }}">{{ word }}</a>
      {% if not hide_date %}
        <time class="text-xs" datetime="{{ word.first_used_on|date:'Y-m-d' }}">
          {{ word.first_used_on|date:"m/Y" }}
        </time>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% include "_htmx_meta.html" %}
