{% extends "base.html" %}
{% load humanize %}
{% block main %}
  <p class="text-xl mb-4">
    Le Mot <span class="font-serif italic">Diplomatique</span> trace
    l'historique de la première apparition
    d'un mot dans <a href="https://www.monde-diplomatique.fr"
                     target="_blank"
                     class="external">Le Monde
      <span class="font-serif italic">Diplomatique</span></a>.
    {{ count_words|intcomma }} mots sont accessibles au travers d'un <a href="{% url 'alphabetical-index' %}" class="internal">index alphabétique</a> et d'un
    <a href="{% url 'year-index' %}" class="internal">index annuel</a>.
  </p>
  <section class="mb-8">
    <header>
      <h1 class="title">Derniers mots ({{ last_article.published_on|date:"F Y" }})</h1>
    </header>
    {% include "_words.html" with words=new_words hide_date=True only %}
  </section>
  <section class="mb-8">
    <header>
      <h1 class="title">
        Des mots en vrac <span data-hx-get="/"
                               data-hx-target="#random-words"
                               title="Charger d'autres mots"
                               class="cursor-pointer">↻</span>
      </h1>
    </header>
    <div id="random-words">{% include "_words.html" with words=random_words only %}</div>
  </section>
{% endblock main %}
