{% extends "base.html" %}
{% block title %}
  {{ page_title }}
{% endblock title %}
{% block description %}
  {{ page_description }}
{% endblock description %}
{% block main %}
  <nav id="index"
       data-hx-target="#results"
       data-hx-push-url="true"
       data-hx-boost="true">
    <ul>
      {% for entry in index %}
        <li>
          <a href="{{ entry.year }}"
             title="{{ entry.count }} nouveau{{ entry.count|pluralize:'x' }} mot{{ entry.count|pluralize }} en {{ entry.year }}">
            {{ entry.year }}
          </a>
          <span class="badge bg-blue-600 text-white">{{ entry.count }}</span>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <section id="results">
    {% if not paginator %}
      {% include "_chart_year.html" %}
    {% endif %}
    {% if paginator %}
      {% include "_list.html" %}
    {% endif %}
  </section>
{% endblock main %}
