{% extends "base.html" %}
{% block title %}
  Page introuvable (404)
{% endblock title %}
{% block main %}
  <section class="mb-8">
    <header>
      <h1 class="word">
        Introuvable <time class="text-sm">404</time>
      </h1>
    </header>
    <p class="text-xl mb-8">Aucune page ne correspond à {{ request_path }} ici.</p>
    <nav class="mb-4">
      <ul class="flex flex-wrap gap-4">
        <li>
          <a href="{% url 'alphabetical-index' %}" class="button" target="_blank">Index alphabétique</a>
        </li>
        <li>
          <a href="{% url 'year-index' %}" class="button" target="_blank">Index annuel</a>
        </li>
      </ul>
    </nav>
  </section>
{% endblock main %}
