{% extends "base.html" %}
{% block title %}
  Erreur serveur (500)
{% endblock title %}
{% block rss %}
{% endblock rss %}
{% block main %}
  <section class="mb-8">
    <header>
      <h1 class="word">
        Plantage <time class="text-sm">500</time>
      </h1>
    </header>
    <p class="text-xl mb-8">Le serveur a planté, c'est pas normal et ça a des chances de se reproduire.</p>
    <nav class="mb-4">
      <ul class="flex flex-wrap gap-4">
        <li>
          <a href="{% url 'alphabetical-index' %}" class="button" target="_blank">Index alphabétique</a>
        </li>
        <li>
          <a href="{% url 'year-index' %}" class="button" target="_blank">Index annuel</a>
        </li>
      </ul>
    </nav>
  </section>
{% endblock main %}
{% block sw %}
{% endblock sw %}
