{% load motdiplo %}
<p class="text-center text-slate-500">
  Le Mot Diplomatique v.{% version %}, <a href="https://gitlab.com/cnrdck/le-mot-diplomatique"
                                          target="_blank"
                                          class="external">code
    source</a>
</p>
