<nav id="navbar" class="mb-8">
  <ul class="list-none flex justify-between flex-wrap">
    <li class="text-2xl font-semibold flex flex-row items-center text-blue-700">
      <a href="{% url 'home' %}"><span class="hidden md:inline">Le</span>Mot <span class="font-serif italic">diplo<span class="hidden md:inline">matique</span></span>
      </a>
    </li>
    <li>
      <input type="search"
             name="query"
             placeholder="Recherche..."
             data-hx-get="{% url 'search' %}"
             data-hx-trigger="keyup changed delay:500ms, query"
             data-hx-target="#main"
             data-hx-push-url="true"
             class="w-36 md:w-48 rounded" />
    </li>
  </ul>
</nav>
