{% extends "base.html" %}
{% block title %}
  {{ page_title }}
{% endblock title %}
{% block description %}
  {{ page_description }}
{% endblock description %}
{% block main %}
  <section class="mb-8">
    <header>
      <h1 class="word">
        Déconnecté
        <time class="text-sm">
          d'internet
        </time>
      </h1>
    </header>
    <p class="text-xl mb-8">Visiblement il n'y plus internet chez vous.</p>
    <p>
      <button type="button">⤾ Recharger la page</button>
    </p>
  </section>
{% endblock main %}
{% block scripts %}
  <script nonce="{{ CSP_NONCE }}">
    // Manual reload feature.
    document.querySelector("button").addEventListener("click", () => {
      window.location.reload();
    });

    // Listen to changes in the network state, reload when online.
    // This handles the case when the device is completely offline.
    window.addEventListener('online', () => {
      window.location.reload();
    });

    // Check if the server is responding and reload the page if it is.
    // This handles the case when the device is online, but the server
    // is offline or misbehaving.
    async function checkNetworkAndReload() {
      try {
        const response = await fetch('.');
        // Verify we get a valid response from the server
        if (response.status >= 200 && response.status < 500) {
          window.location.reload();
          return;
        }
      } catch {
        // Unable to connect to the server, ignore.
      }
      window.setTimeout(checkNetworkAndReload, 2500);
    }
    checkNetworkAndReload();
  </script>
{% endblock scripts %}
